.header{
    color:rgb(255, 0, 0);
    text-align: justify;
    display: flex;
}
.Image{
    text-align: center;
    border: solid black;
    background-color: rgb(255, 255, 238);
}
body{
    background-color:(#ffffff);
   
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
  
}
.footer img{
    border-radius: 50px;
}
.footer{
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;  
    background-color:rgb(255, 250, 204) ;
}
.languages{
    border-radius: 20px;
    background-color: #eeeeee;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 20px;
    width:310px;
    font-family: fantasy;
}
h3{
    text-align: left;   
}
h2 img{
    text-align:left;
    border-radius: 50px;
}
h2{
    background-color: rgb(248, 170, 147);
    margin: 0px;
    padding: 10px;
    display:flex; 
    flex-wrap: wrap;
}
h3{
    background-color: #99c1e2;
    margin: 0px;
    padding: 10px;
    display:flex; 
    flex-wrap: wrap;
   

}
.body{
     justify-content: center;
}