.header{
    color:black;
    text-align: justify;
    display: flex;
}
body{
    background-color:(#ffffff);
   
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
  
}
.footer img{
    border-radius: 50px;
}
.footer{
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;  
    background-color:rgb(255, 250, 204) ;
}
.languages{
    border-radius: 20px;
    background-color: #eeeeee;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 20px;
    width:310px;
    font-family: fantasy;
}
h3{
    text-align: left;   
}
h2 img{
    text-align:left;
    border-radius: 50px;
}
h2{
    background-color: rgb(248, 170, 147);
    /* modify margin and padding here*/
    padding: 30px;
    margin:0px;
    width:1500px;
    font-family: fantasy;
    display:flex; 
    flex-wrap: wrap;
}
h3{
    background-color: #99c1e2;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 0px;
    width:1500px;
    font-family: fantasy;
    display:flex; 
    flex-wrap: wrap;
   

}